body{
background: url(../images/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
	text-align: center;
	padding-top: 170px;
	
	height: 200px;

}

                 .boton { 
                  text-align: center;
                  width: 300px;
                  height: 50px;
                  margin-top: 30px;

                 }  

                  .btn a { 
                  text-decoration: none;
                  background-color: #FFCC66;
                  border-radius: 10px;
                  color: #660000;
                  padding: 10px;

                 }  


                .btn{
                  text-align: center;
                  margin-left: 560px;
                  width: 200px;
                  height: 100px;
                  margin-top: 50px;
                  color: #FFCC66;
                  font-size: 25px;
                  font-family: 'Oleo Script', cursive;
                  border-radius: 10px;
                  margin-top: 15px;
                  margin-left: 575px; 
                }