body {
 background: #ccc;
 height: 800px;
}


h1  {
	font-family:'Lobster', cursive;
  text-align: center;
  font-size: 80px;
  color: gray;
  margin-top: 40px;
  margin-bottom: 80px;

}
.poema1  {
   background-image: url("../images/111.jpg");
	height: 300px;
	font-family: 'Raleway', sans-serif;
	line-height: 20px;
	color: white;
}
.poema1 p {
  font-size: 14px;
}


.poema2{
	
	background-image: url("../images/ELPASODELTIEMPO.jpg");
	height: 300px;
	font-family: 'Lora', serif;
	line-height: 20px;
	color: black;
}
.poema2 p{
	
	font-size: 14px;
}
.poema2 h5{
	color: white;

}


.poema3{
	background-image: url("../images/333.jpg");
	font-family: 'Playfair Display', serif;
	line-height: 22px;
	height: 300px;
	color: white;

}
.poema3 p{
	font-size: 14px;
	

}

.poema4{
	background-image: url("../images/4.jpg");
	font-family: 'Candal', sans-serif;
	line-height: 22px;
	height: 300px;
	color: white;
}

.poema5{
	background-image: url("../images/5.jpg");
	font-family: 'Cabin', sans-serif;
	line-height: 20px;
	height: 300px;
	color: black;
}

.poema6{
	background-image: url("../images/ELPASODELTIEMPO.jpg");
	font-family: 'Lobster', cursive;
	line-height: 22px;
	height: 300px;
	

}
.poema6 h5{
	margin-left: 100px;

}
.poema6 p{
	font-size: 18px;
	padding-left: 4px;
}
.poema6 h2{
	
	padding-left: 4px;
}

.poema7{
	background-image: url("../images/7.jpg");
	font-family:'Roboto', sans-serif;
	line-height: 20px;
	height: 300px;
	color: white;
	
}
.poema7 p{
	font-size: 14px; 

}
.poema7 h2{
	color: black;
	font-size: 22px;
}
.poema7 h4{
	color: black;
	
}

.poema8{
	background-image: url("../images/8.jpg");  
	font-family: 'Libre Baskerville', serif;
	line-height: 20px;
	font-size: 14px;
	height: 300px;
}

.poema9{
	background-image: url("../images/BobMarley.jpg");
	font-family: 'Pacifico', cursive;
	line-height: 24px;
	height: 300px;
	color: black;
}
.poema9 h3{
	margin-left: 100px;


}

.poema0{
	background-image: url("../images/0.jpg");
	font-family: 'Cuprum', sans-serif;
	font-size: 14px;
	line-height: 22px;
	height: 300px;
	color: white;
	}

.poema1, .poema2, .poema3, .poema4, .poema5{
	width: 220px;
	float: left;
	margin-left: 35px;
	font-size: 16px;
	padding-left: 7px;


	
	}

	.poema6, .poema7, .poema8, .poema9, .poema0{
		
	width: 220px;
	float: left;
	margin-left: 35px;
	margin-top: 20px;
	padding-left: 7px;

	
	}
