body {
	background: url(../images/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
	


.slider {
	
	width: 50%;

    margin: auto;
    overflow: hidden;
}

.slider ul {
	margin-top: 70px;
	display: flex;
	padding: 0;
	width: 900%;



	animation: cambio 20s infinite alternate;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
	
}

@keyframes cambio {
	0% {margin-left: 0;}
	10% {margin-left: 0;}

	15% {margin-left: -100%;}
	25% {margin-left: -100%;}

	30% {margin-left: -200%;}
	40% {margin-left: -200%;}

	45% {margin-left: -300%;}
	60% {margin-left: -300%;}

	65% {margin-left: -400%;}
	80% {margin-left: -400%;}
	
	85% {margin-left: -500%;}
	100% {margin-left: -500%;}
}

footer {
	text-align: center;
	color: #feb825;
	margin-top: 20px;
	font-family: monospace;
	font-size: 16px;
	
}

footer p {
	width: 600px;
	margin: 0 auto;
	color: #ccc;
	margin-top: 10px;
	font-family: monospace;
	font-size: 10px;
	
}