body {
	background: url(../images/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

h1{
	font-family: 'Oleo Script', cursive;
	font-size: 65px;
	color: #996600;


}
.container{
	
	padding: 20px;
	width: 800px;
	margin: auto;
	font-family: 'Oleo Script', cursive;
	text-align: center;
}

.formulario{
	width: 700px;
	font-size: 25px;
	padding: 30px;
	
	color: #FFCC66;
	margin: auto;
	text-align: center;
}